body {
    background: linear-gradient(115deg, violet 10%, blue 90%);
	color: purple;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.education-container {
	width: 80%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-title {
	text-align: center;
	margin-bottom: 50px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	animation: fadeIn 1s ease-in-out;
}

.education-item {
    position: relative; /* Agregar esta línea */
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Corregí la propiedad box-shadow */
}

.back-arrow {
    position: absolute;
    top: 0; /* Ajusta el top para que esté alineado con el borde superior del contenedor */
    left: -50px; /* Cambia el left para que esté fuera del contenedor de la flecha */
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    color:violet;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

